<section class="section">
  
  <div class="container">
    
    <h1 class="title">Editing course</h1>

    <%= render "form", course: @course %>

    <div class="control">
      <%= link_to new_course_unit_path(@course), remote: true, class: 'button is-primary' do %>
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Новый модуль</span>
      <% end %>
    </div>

    <%= render "units/unit", units: @units %>

  </div>
</section>